@font-face {
     font-family: Roboto;
     src: url(../fonts/Roboto/Roboto-Light.ttf) format('truetype');;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
   height: 100%;
   width: 100%;
   font-family: 'Roboto', sans-serif;
   background: url(../img/texture.png) top left repeat;
}
.title{
    color: #5271FF;
    text-transform: capitalize;
    text-align: center;
    font-size: 4em;
    position: relative;
    top: 20px;
}
.timer{
    width: 530px;
    margin: 0 auto;
    height: 150px;
    margin-top: 30px;
}

.clock{
    display: inline-block;
    width: 75%;
    text-align: center;
    height: 75%;
    vertical-align: top;
    background-color: #879CFF;
}

.controls{
    width: 25%;
    height: 75%;
    /*margin-bottom: 5px;*/
    display: inline-block;
    background-color: #7D94FF;

}

.play-button{
    width: 65%;
    padding-top: 13px;
    margin: 0 auto;
    display: block;
}
.time{
    font-size: 5.5em;
    color: #FFFFFF;
    display: inline-block;
    padding-top: 8px;
}

.course-container{
    height: 25%;
    width: 100%;
    text-align: center;
    margin-top: 2px;
    background-color: #97A7F2;
}

.course{
    display: inline-block;
    padding-top: 5px;
    font-size: 1.3em;
    font-style: italic;
    color: #FFFFFF;
}

.container{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.buttons{
    width: 30px;
    display: block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding-top: 20px;
}

.info-button{
    width: 25px;
}

#link-sobre{
    position: absolute;
    height: 25px;
    right: 5px;
    top: 5px;
    z-index: 1;
}

.add-button {
    width: 30px;
    display: inline-block;
    vertical-align: middle;
}

.group {
    position:relative;
    top: 27px;
    margin: 0 auto;
    width: 335px;
    height: 50px;
}

input {
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:inline-block;;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
    background-color: #f4e6fc;
}

input:focus {
    outline:none;
}

/* LABEL ==================================== */
label {
    color: #999;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
    top:-20px;
    font-size:14px;
    color:#5264AE;
}

/* BOTTOM BARS ============================== */
.bar {
    position:relative;
    display:block;
    width:300px;
}

.bar:before, .bar:after {
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#5264AE;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

.bar:before {
    left:50%;
}
.bar:after {
    right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}

/* HIGHLIGHTER =============================== */
.highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background:#5264AE;
    } to {
          width:0; background:transparent;
      }
}

@-moz-keyframes inputHighlighter {
    from {
        background:#5264AE;
    } to {
          width:0; background:transparent;
      }
}

@keyframes inputHighlighter {
    from {
        background:#5264AE;
    } to {
          width:0; background:transparent;
      }
}